<!DOCTYPE HTML>
<html>
<head>
	<title>Intro Page</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/assets/css/main.css" />
	<link rel="icon" href="/images/favicon.ico">
</head>
<body class="homepage is-preload">
<div id="page-wrapper">

	<!-- Header -->
	<section id="header">
		<!-- Logo -->
		<h1>Gyoseung Ku</h1>
	</section>

	<!-- Main -->
	<section id="main">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<!-- Portfolio -->
					<section>
						<header class="major">
							<h2>My Website</h2>
						</header>
						<div class="row">
							<div class="col-4 col-6-medium col-12-small">
								<section class="box">
									<a href="https://blog.gyoseung.me" class="image featured"><img src="images/Wordpress.jpg" alt="" /></a>
									<header>
										<h3>Blog</h3>
									</header>
									<p>개인 블로그 (현재 공사중)</p>
									<footer>
										<ul class="actions">
											<li><a href="https://blog.gyoseung.me" class="button alt">Find out more</a></li>
										</ul>
									</footer>
								</section>
							</div>
							<div class="col-4 col-6-medium col-12-small">
								<section class="box">
									<a href="https://github.com/GyoseungKu" class="image featured"><img src="images/GitHub.jpg" alt="" /></a>
									<header>
										<h3>GitHub</h3>
									</header>
									<p>개인 GitHub</p>
									<footer>
										<ul class="actions">
											<li><a href="https://github.com/GyoseungKu" class="button alt">Find out more</a></li>
										</ul>
									</footer>
								</section>
							</div>
							<div class="col-4 col-6-medium col-12-small">
								<section class="box">
									<a href="https://nas.gyoseung.me" class="image featured"><img src="images/Synology.jpg" alt="" /></a>
									<header>
										<h3>Synology Server</h3>
									</header>
									<p>개인 NAS 서버</p>
									<footer>
										<ul class="actions">
											<li><a href="https://nas.gyoseung.me" class="button alt">Find out more</a></li>
										</ul>
									</footer>
								</section>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</section>

	<!-- Copyright -->
	<div id="copyright">
		<ul class="links">
			<li>&copy; Gyoseung Ku. All rights reserved.</li>
			<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
		</ul>
	</div>
</div>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.dropotron.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>
</body>
</html>